* {
    font-family: "Fira Sans", sans-serif;
    padding: 0;
    margin: 0;
    ::-webkit-scrollbar {
        width: 0px;
    }
}
body {
    overflow: hidden;
}
.page {
    position: fixed;
    right: 520px;
    height: 100%;
    width: 40%;
    background-color: #fff;
    box-shadow: -4px 0px 10px rgba(45, 82, 164, 0.1);
    transition: all 0.2s ease-in 0.2s;
    transform: translateX(0%);
    overflow: scroll;
    z-index: 5;
}
@media screen and (max-width: 1791px) {
    .page {
        right: 460px;
        height: 100%;
        width: 40%;
        z-index: 5;
    }
}
@media screen and (max-width: 1740px) {
    .page {
        right: 460px;
        height: 100%;
        width: 50%;
    }
}

@media screen and (max-width: 1388px) {
    .page {
        right: 460px;
        height: 100%;
        width: 55%;
    }
}
@media screen and (max-width: 1281px) {
    .page {
        right: 460px;
        height: 100%;
        width: 62%;
        z-index: 5;
    }
}
@media screen and (max-width: 1124px) {
    .page {
        right: 400px;
        height: 100%;
        width: 65%;
        z-index: 5;
    }
}
.page-active {
    transform: translateX(100%);
    transition: all 0.2s ease-in 0.2s;
    overflow: hidden;
    width: 0;
    z-index: 5;
}

.main-page {
    // новый урл
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 1;

    //..несколько лассов
    .back {
        height: 100vh;
        width: 100%;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        z-index: 2;
        &.back-1 {
            background-image: url(/img/4site-kid-2.png);
        }
        &.back-2 {
            background-image: url(/img/hraci.png);
        }
        &.back-3 {
            background-image: url(/img/chutna.png);
        }
    }
    .color {
        position: fixed;
        top: 0;
        z-index: 1;
        height: 100vh;
        width: 100%;

        &.back-1 {
            background-color: #c1d3ff;
            right: -100%;
        }
        &.back-2 {
            background-color: #2d5da4;
            right: -100%;
        }
        &.back-3 {
            background-color: #dfa265;
            right: -100%;
        }
        &.show {
            z-index: 2;
            right: 0;
            transition: right 1s ease-in 0.4s;
        }
        &.hide {
            z-index: 1;
            right: 100%;
            transition: right 1s ease-in 0.4s;
        }
    }
}

.logo {
    position: fixed;
    display: block;
    margin: 30px 0px 0px 34px;
    z-index: 3;
}

.logo img {
    height: auto;
    width: 220px;
}

/* title-button ==================================================================================*/

.title-button {
    margin-top: 50px;
    right: 180px;
    position: fixed;
    text-decoration: none;
    width: 205px;
    height: 52px;
    z-index: 4;
    border: none;
    background: #cf6230;
    box-shadow: 0px 4px 10px rgba(233, 96, 50, 0.6);
    p {
        font-family: Fira Sans;
        padding-top: 20px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        align-items: center;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        letter-spacing: 1px;
    }
}
.title-button:hover {
    background: #e96032;
}

/* burger-menu ==================================================================================*/

.menu-burger {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    height: 100%;
    width: 80px;
    background-color: #ffffff;
    box-shadow: -4px 0px 10px rgba(45, 82, 164, 0.1);
    z-index: 6;
    transition: background-color 0.2s ease-in 0.2s;
    &-social {
        margin-top: auto;
        margin-bottom: 90%;
        position: relative;
        text-align: center;
        &-logo {
            height: 50px;
            list-style: none;
            justify-content: space-around;
        }
    }
    &-color {
        &.color-1 {
            background-color: #c1d3ff;
        }
        &.color-2 {
            background-color: #2d5da4;
        }
        &.color-3 {
            background-color: #dfa265;
        }
    }
}

.menu-burger-active {
    position: fixed;
    right: 0;
    height: 100%;
    width: 80px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 6;
}

.menu-icon-wrapper {
    /* background-color: rgba(45, 82, 164, 0.1); */
    width: 30px;
    height: 30px;
    margin: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    align-items: center;
}

.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: background-color 0.2s ease-in 0.2s;
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
    background-color: transparent;
    transition: background-color 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::before {
    background-color: #2d52a4;
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
    background-color: #2d52a4;
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
/* burger-menu ==================================================================================*/

.site-menu {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 540px;
    background-color: #fff;
    box-shadow: -4px 0px 10px rgba(45, 82, 164, 0.1);
    transition: all 0.2s ease-in 0.2s;
    transform: translateX(0%);
    overflow: auto;
    z-index: 5;
}
@media screen and (max-width: 1791px) {
    .site-menu {
        width: 460px;
        transform: translateX(0%);
    }
}

.site-menu-active {
    transform: translateX(100%);
    transition: all 0.2s ease-in 0.2s;
    overflow: hidden;
    width: 0;
}

.site-menu li {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 120px;
}
@media screen and (max-width: 1791px) {
    .site-menu li {
        margin-left: 80px;
    }
}

.site-menu-list {
    margin-top: 80px;
    margin-bottom: 50px;
    :hover {
        color: #e96032;
        p {
            color: #ffffff;
        }
    }
}

.site-menu-list a {
    text-decoration: none;
    font-family: Fira Sans;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #2d52a4;
}

.phone-mail {
    margin-top: 170px;
    a:hover {
        color: #e96032;
    }
}

/* menu-button ==================================================================================*/
.button-celebrate {
    position: fixed;
    text-decoration: none;
    width: 205px;
    height: 52px;
    left: 120px;
    border: none;
    background: #e96032;
    box-shadow: 0px 4px 10px rgba(233, 96, 50, 0.2);
    p {
        font-family: Fira Sans;
        padding-top: 19px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        align-items: center;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 1791px) {
    .button-celebrate {
        left: 80px;
    }
}
.button-celebrate:hover {
    background: #e96032;
    box-shadow: 0px 4px 10px rgba(233, 96, 50, 0.6);
}

/* phone-mail ==================================================================================*/
.phone-mail {
    margin-top: 185px;
}

.phone-mail p {
    font-family: Fira Sans;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 19px;
    color: #8a92a3;
}
.phone-mail a {
    color: #2d52a4;
    text-decoration: none;
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

/*page-about====================================================================================*/

.title-about {
    margin-top: 42px;
    background-color: #e96032;
    width: 240px;
    height: 60px;

    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}

.title-about-rodinna {
    margin-top: 42px;
    background-color: #e96032;
    width: 440px;
    height: 60px;
}

/*slider=====================================================================================*/
.slider-box {
    height: 430px;
    width: auto;
    overflow: hidden;
}
.slider {
    object-fit: cover;
    &__item img {
        display: block;
        margin-top: 40px;
        margin-left: 78px;
        height: 350px;
        width: auto;
    }
}
@media screen and (max-width: 1124px) {
    .slider__item img {
        width: auto;
        height: 280px;
    }
}

/*slider=====================================================================================*/

.img-about {
    margin-top: 30px;
    width: 50%;
    height: auto;
    margin-left: 100px;
}

.text-about-all,
.text-about-all-two,
.text-attraction-all,
.text-services-all,
.text-courses-all,
.text-prices-all,
.text-contacts-all,
.text-celebrate-all {
    margin-top: 24px;
    margin-left: 78px;
    margin-bottom: 100px;
}
.text-about-all-two {
    margin-bottom: 40px;
}
.text-atrakce-all {
    margin-top: 50px;
}

.text-about {
    width: 600px;
    height: auto;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: black;

    letter-spacing: 1px;
}
@media screen and (max-width: 1124px) {
    .text-about {
        white-space: inherit;
        width: 500px;
        height: auto;
    }
}

.nase-menu {
    text-transform: uppercase;
    font-weight: 700;
    color: #e96032;
    font-size: 22px;
    margin-left: 78px;
    padding-bottom: 60px;
}
/*attraction==================================================================================*/

.title-attraction {
    margin-top: 42px;
    background-color: #e96032;
    width: 270px;
    height: 60px;
    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}

.text-attraction {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;

    color: black;
    white-space: nowrap;
    letter-spacing: 1px;
    &-info {
        color: #8a92a3;
    }
}

/*services==============================================================*/

.title-services {
    margin-top: 42px;
    background-color: #e96032;
    width: 398px;
    height: 60px;

    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}

.text-services {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    white-space: nowrap;
    letter-spacing: 1px;
    &-last {
        font-size: 14px;
        margin-top: 20px;
        line-height: 24px;
        letter-spacing: 1px;
    }
}

.nase-dortiky {
    text-transform: uppercase;
    font-weight: 700;
    color: #e96032;
    font-size: 22px;
}

.title-courses {
    margin-top: 42px;
    background-color: #e96032;
    width: 360px;
    height: 60px;

    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}
.text-courses {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    white-space: nowrap;
    letter-spacing: 1px;
    &-last {
        margin-top: 20px;
        line-height: 24px;
        letter-spacing: 1px;
        font-size: 14px;
    }
}

/*services==============================================================*/
.title-prices {
    margin-top: 42px;
    background-color: #e96032;
    width: 280px;
    height: 60px;

    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}

.text-prices {
    margin-top: 32px;
    &-color {
        line-height: 22px;
        margin-top: 8px;
        color: #e96032;
        font-size: 14px;
        letter-spacing: 1px;
        &-fat {
            margin-top: 6px;
            font-size: 28px;
            font-weight: 700;
            color: #e96032;
        }
    }
    &-info {
        letter-spacing: 1px;
        line-height: 22px;
        margin-top: 32px;
        font-size: 14px;
        color: #8a92a3;
    }
}

/*events==============================================================*/
.title-events {
    margin-top: 42px;
    background-color: #e96032;
    width: 280px;
    height: 60px;
    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}

.text-events-color {
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 201px;
    color: #e96032;
    font-size: 14px;
}

.events-info {
    margin-top: 12px;
    margin-left: 84px;
    border-top: thin solid #e6edff;
    width: 460px;
    display: flex;
    flex-direction: row;
    &-time {
        font-size: 14px;
        margin-top: 14px;
        color: #2d52a4;
    }
    &-text {
        letter-spacing: 1px;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 83px;
        line-height: 24px;
        &-last {
            margin-left: 87px;
            a {
                color: #2d52a4;
            }
            :hover {
                color: #e96032;
            }
        }
    }
}
.events-info-last {
    margin-top: 50px;
}

//contacts=============================================================

.title-contacts {
    margin-top: 42px;
    background-color: #e96032;
    width: 290px;
    height: 60px;
    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}

.text-contacts-color {
    margin-top: 18px;
    color: #2d52a4;
    text-decoration: none;
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    &-fat {
        margin-top: 50px;
        font-size: 28px;
        font-weight: 700;
        color: #e96032;
    }
}

.title-map {
    margin-left: 78px;
    margin-top: 40px;
}

.contacts-info {
    margin-bottom: -25px;
    margin-top: 50px;
    border-top: thin solid #e6edff;
    width: 452px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a:hover {
        color: #e96032;
    }

    &-time {
        white-space: nowrap;
        margin-top: 25px;
        font-size: 18px;
        color: #2d52a4;
    }

    &-text {
        text-decoration: none;
        white-space: nowrap;
        margin-top: 23px;
        letter-spacing: 1px;
        color: #2d52a4;
        font-family: Fira Sans;
        font-weight: 600;
        font-size: 18px;
    }
}

.contacts-last {
    margin-top: 90px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    &-link {
        color: #2d52a4;
    }
    a:hover {
        color: #e96032;
    }
}

//celebrate=============================================================================
.title-celebrate {
    margin-top: 42px;
    background-color: #e96032;
    width: 300px;
    height: 60px;
    &-text {
        color: #fff;
        text-align: center;
        padding-top: 12px;
        white-space: nowrap;
    }
}

.text-celebrate {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 50px;
    color: #dfa265;
    white-space: nowrap;
    letter-spacing: 1px;
    &-info {
        color: #8a92a3;
    }
    &-counter {
        font-size: 14px;
    }
}

.order__inputs {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    input {
        outline: none;
        font-size: 14px;
        letter-spacing: normal;
        line-height: 22px;
        width: 220px;
        padding: 11px 13px 9px;
        border: thin solid #e6edff;
        border-radius: 2px;
        box-sizing: border-box;
        height: 44px;
    }
    .m-time {
        margin-left: 20px;
    }
}

.counter-container {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    justify-content: space-between;
    input {
        text-align: center;
        font-size: 14px;
        letter-spacing: normal;
        line-height: 22px;
        width: 36px;
        height: 36px;
        outline: 0 !important;
        border: thin solid #e6edff;
        box-sizing: border-box;
    }
}

.counter {
    display: flex;
    flex-direction: row;
    button {
        font-size: 22px;
    }
}

.counter__minus,
.counter__plus {
    outline: none;
    width: 36px;
    height: 36px;
    background-color: #c1d3ff;
    border: none;
    color: #ffffff;
    font-size: 700;
}

.order {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 30px;
    outline: none;
    span {
        padding-left: 14px;
    }
}

.textbox-link a {
    color: #2d52a4;
}

.order__personal {
    input {
        outline: none;
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: normal;
        line-height: 22px;
        width: 400px;
        padding: 11px 13px 9px;
        border: thin solid #e6edff;
        border-radius: 2px;
        box-sizing: border-box;
        height: 44px;
    }
    .cb-phone {
        margin-bottom: 40px;
    }
}

.celebrate-button {
    position: fixed;
    text-decoration: none;
    width: 205px;
    height: 52px;
    border: none;
    background: #e96032;
    box-shadow: 0px 4px 10px rgba(233, 96, 50, 0.2);
    p {
        font-family: Fira Sans;
        padding-top: 19px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        align-items: center;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        letter-spacing: 1px;
    }
}

.celebrate-button:hover {
    background: #e96032;
    box-shadow: 0px 4px 10px rgba(233, 96, 50, 0.6);
}

input.js-counter::-webkit-outer-spin-button,
input.js-counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkbox {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 410px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 22px;
    input {
        outline: none;
        display: none;
    }
    &-btn {
        margin-top: 2px;
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        background-color: #e6edff;
        flex-shrink: 0;
        &-active {
            &::before {
                margin: 4px 4px 4px 4px;
                position: absolute;
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                background-color: #2d52a4;
            }
        }
    }
}
